{% load staticfiles %}

        <title></title>
        <link rel="stylesheet" type="text/css" href="{% static "css/blog.css" %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="{% static "js/counterplay.js" %}"></script>

<style>
</style>
</head>
<body>

<j id="countries">
  <li>
    <a href="{% url 'home' %}"><i class="fa fa-bars fa-lg" aria-hidden="true"></i></a>
    <ul>
      <li>	
       <a href="{% url 'home' %}" class="icon"><i class="fa fa-home fa-lg" aria-hidden="true"></i></a>
      </li>
      <li>
       <a href="{% url 'about' %}" class="icon"><i class="fa fa-question-circle-o fa-lg" aria-hidden="true"></i></a>
      </li>
      <li>
        <a href="{% url 'contact' %}" class="icon"><i class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></i></a>
      
     {% if user.is_authenticated %}
      <li>    	
        <a href="{% url 'play_new' %}" class="icon"><i class="fa fa-plus-square-o fa-lg" aria-hidden="true"></i></a>
      </li>        
     {% else %}
      <li>
    	 <a href="{% url 'login' %}" class="icon"><i class="fa fa-user-o fa-lg" aria-hidden="true"></i></a> 
      </li>
     {% endif %}

      </li>
    </ul>
  </li>
</j>


    <div class="title-bar">
        
        <h1 class="title-text"><a>The Power Play</a>
        <h2></h2>
        </h1>
    </div>
    <div class="content container">
        <div class="row">
            <div class="col-md-8">
            {% block content %}
            {% endblock %}
            </div>
        </div>
    <div class="opn-counter">
      <div id="mySidenav" class="sidenav">
      </div>
      <!-- Use any element to open the sidenav -->
      <span onclick="openNav()"><h3>The Counter Play</h3></span>

      <!-- Add all page content inside the div with the MAIN class if you want the side nav to push page content to the right (not used if you only want the sidenav to sit on top of the page -->
      </div>

    </div>

  </body>
</html>

